body {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: #5a5a5a;
    font-family: Arial, sans-serif;
    font-size: 17px;
}
header {
    height: 100px;
    padding-left: 25px;
    text-align: center;
}
header h1 {
    font-weight: bold;
    font-size: 26px;
    
}
.main_nav ul {
    display: inline-block;
    list-style-type: none;
    
}
.main_nav li {
    display: inline-block;
    text-align: left;
    width: 250px;
}
.main_nav a {
    text-decoration: none;
    color: #5a5a5a;
}
.active {
    font-weight: bold;
}
.body_container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h1 {
    font-size: 25px;
    text-align: center;
}
.foot_nav {
    clear: both;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.foot_nav a {
    text-decoration: none;
    color: #5a5a5a;
    padding-left: 25px;
    padding-right: 25px;
}
td {
    width: 150px;
}
input {
    width: 75px;
}
.confirm a {
    text-decoration: none;
    color: #5a5a5a;
}
.customer_details input {
    width: 300px;
    float: right;
    clear: right;
}
label {
    width: 110px;
    text-align: left;
    float: left;
}
.checkout input {
    width: 75px;
}